body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  header {
    background-color: #eaeaea;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 60rem;
    margin: 0 auto;
    padding: 0 1rem;
  }

  .nav-items{
    display: flex;
    align-items: center;
}
  
  ul {
    padding: 0;
  }
  
  li {
    display: inline-block;
    padding: 0 1.25rem;
  }
  
  li a {
    color: #000;
    text-decoration: none;
  }
  
  li:hover a {
    color: #088178;
    text-decoration: underline;
  }
  
  .nav-toggle {
    display: none;
    position: absolute;
    top: 1.5rem;
    right: 1rem;
  }
  
  .nav-toggle img {
    width: 1.5rem;
    transition: 300ms all ease;
  }
  
  .nav-toggle:hover img {
    opacity: 0.6;
  }
  
  .open {
    height: 100vh;
  }
  
  .hidden {
    display: none;
  }
  
  @media all and (max-width: 720px) {
    .container {
      flex-direction: column;
      align-items: flex-start;
    }
  
    nav {
      height: 0;
      width: 100%;
      overflow: hidden;
      transition: 250ms height ease-in-out;
    }
  
    li {
      display: block;
      text-align: center;
      padding: 1.5rem 0;
    }
  
    li a {
      font-size: 1.4rem;
    }
  
    .nav-toggle {
      display: block;
    }
  }

  #product1 {
    text-align: center;
  }

  #product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
  }

  #product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
  }

  #product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
  }

  #product1 .pro img {
    width: 100%;
    border-radius: 20px;
  }

  #product1 .pro .des {
    text-align: start;
    padding: 10px 0;
  }

  #product1 .pro .des span {
    color: #606063;
    font-size: 12px;
  }

  #product1 .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
  }

  #product1 .pro .des i {
    font-size: 12px;
    color: rgb(243, 181, 25);
  }

  #product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
  }

  #newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  #newsletter h4 {
    font-size: 22px;
    font-weight: 700;
    color: #4b4c4d;
  }

#newsletter p {
    font-size: 22px;
    font-weight: 700;
    color: #818ea0;
}


  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Segoe UI';
    font-weight: 400;
    background-color: #ededed;
  }
  
  .footer {
    padding: 40px 0;
    background-color: #fff;
  }
  
  .footer.social {
    text-align: center;
    padding-bottom: 25px;
    color: #4b4c4d;
  }
  
  .footer.social a {
    font-size: 24px;
    color: inherit;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 30px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
  }
  
  .footer.social a:hover{
    opacity: 0.9;
  }
  
  .footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
  }
  
  .footer ul li a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
  }
  
  .footer ul li {
    display: inline-block;
    padding: 0 15px;
  }
  
  .footer ul li a:hover {
    opacity: 1;
  }
  
  .footer.copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
  }
  
  @media all and (max-width: 720px) {
    .container {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  
